.footer{
    height: 3em;
    line-height: 3em;
    background-color: #f2f2f2;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 900;
}

.nav-item{
    background-color: #f2f2f2;
}

.navbar-brand{
    background-color: #f2f2f2;
}